.generosidade {
    background-color: #f9f9f9;
}

.generosidade-container {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    padding:80px 20px;
    margin: 0 auto;
    gap: 120px;
    border-top: 1px solid #FFE9E8;
}


.generosidade-texto {
    display: grid;
    gap: 24px;
}

.generosidade h2 {
    font-size: 2.5rem;
}

.generosidade p {
    font-size: 1.2rem;
    line-height: 34px;
}

@media (max-width: 429px) {

    .generosidade-container {
        grid-template-columns: 1fr;
        text-align: center;
        padding:80px 24px
    }

    .conteudo-texto img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .generosidade h2 {
        font-size: 2rem;
    }

    .generosidade p {
        font-size: 1.125rem;
    }

    .botao {
        font-size: 1rem;
    }
}



@media (max-width: 400px) {

    .generosidade-container {
        grid-template-columns: 1fr;
        text-align: center;
        padding:80px 24px
    }

    .conteudo-texto img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .generosidade h2 {
        font-size: 2rem;
    }

    .generosidade p {
        font-size: 1.125rem;
    }

    .botao {
        font-size: 1rem;
    }
}


