

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600&display=swap');
@import "./intro.css";
@import "./generosidade.css";
@import "./temporizador.css";
@import "./footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Archivo', sans-serif;
}


